*,*::before,*::after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root{
    --red: #D71920;
}
body{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    line-height: 1.4;
}
img {
    height: 100%;
    overflow: clip;
}
a{
    text-decoration: none;
    color: inherit;
}
.center-block{
    display: flex;
    justify-content: center;
    align-items: center;
}
/*  */
.red-hover:hover{
    cursor: pointer;
    color: var(--red);
    transition: color 0.2s;
}
.button{
    display: inline-block;
    padding: 10px 30px 10px 30px;
    font-weight: 600;
    text-transform: uppercase;
    color: #fff;
    background-color: #333;
    border-radius: 5px;
}
.button:hover{
    cursor: pointer;
    background-color: var(--red);
    transition: background-color 0.2s;
}
.button-add::before{
    content: "add to card";
}
.container{
    width: 100%;
}
.container >*{
    max-width: 1400px;
    margin: 0 auto;

}
/*HEADER*/
.head-container{
    position: fixed; 
    top: 0;
    background-color: #fff;
    z-index: 10;
}
.header{
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid rgba(0,0,0,0.2);
}
.header >*{
    margin: 0 16px;
}
.header-logo{
    height: 60px;
    margin-top: 8px;
    background-image: url("../img/logo.webp");
    background-size: cover;
    background-position:left;
    background-repeat: no-repeat;
    aspect-ratio: 384/76;
}
.header-logo a{
    display: block;
    width: 100%; height: 100%;
}
.navbar{
    display: flex;
    justify-content: center;
}
.header-nav__item, .header-usernav__item{ 
    padding: 1.5rem;
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
}
.header-nav{
    width: 60%;
}
.header-nav__item h4{ 
    margin: 0 8px 0 6px;
}
.header-usernav__item{
    font-size: 28px;
}
.header-usernav__item.cart{
    position: relative;
}
.header-usernav__item.cart span{
    font-size: 16px;
    position: absolute;
    left: 70%;
}
.header-usernav__item.user img{
    height: 30px;
    width: 30px;
}

