USE [ComicMaxPrd]
GO
/****** Object:  Table [dbo].[Book]    Script Date: 6/1/2023 7:54:32 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Book](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](max) NULL,
	[img] [nvarchar](max) NULL,
	[language] [nvarchar](50) NULL,
	[author_id] [int] NULL,
	[publisher_id] [int] NULL,
	[price] [float] NULL,
	[amount] [int] NULL,
	[sold] [int] NULL,
	[star] [float] NULL,
	[ratingnums] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Book] ON 

INSERT [dbo].[Book] ([id], [name], [img], [language], [author_id], [publisher_id], [price], [amount], [sold], [star], [ratingnums]) VALUES (1, N'Berserk Deluxe Volume 1', N'https://m.media-amazon.com/images/I/91eRoWSACCL.jpg', N'English', 1, 1, 35.64, 300, 9700, 4.1, 9654)
INSERT [dbo].[Book] ([id], [name], [img], [language], [author_id], [publisher_id], [price], [amount], [sold], [star], [ratingnums]) VALUES (2, N'Berserk Deluxe Volume 2', N'https://m.media-amazon.com/images/I/91RL+XK7MPL.jpg', N'English', 1, 1, 44.99, 1900, 8100, 4.2, 8066)
INSERT [dbo].[Book] ([id], [name], [img], [language], [author_id], [publisher_id], [price], [amount], [sold], [star], [ratingnums]) VALUES (3, N'Berserk Deluxe Volume 3', N'https://m.media-amazon.com/images/I/91ywnHM4mkL.jpg', N'English', 1, 1, 40.86, 4100, 5900, 4.6, 5827)
GO
SET IDENTITY_INSERT [dbo].[Book] OFF
GO
ALTER TABLE [dbo].[Book] ADD  DEFAULT ((0)) FOR [sold]
GO
ALTER TABLE [dbo].[Book]  WITH CHECK ADD FOREIGN KEY([author_id])
REFERENCES [dbo].[Author] ([id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Book]  WITH CHECK ADD FOREIGN KEY([publisher_id])
REFERENCES [dbo].[Publisher] ([id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
