USE [ComicMax]
GO
/****** Object:  Table [dbo].[Book_Category]    Script Date: 5/3/2023 12:43:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Book_Category](
	[book_id] [int] NULL,
	[Category_id] [int] NULL
) ON [PRIMARY]
GO
INSERT [dbo].[Book_Category] ([book_id], [Category_id]) VALUES (1, 2)
INSERT [dbo].[Book_Category] ([book_id], [Category_id]) VALUES (1, 3)
INSERT [dbo].[Book_Category] ([book_id], [Category_id]) VALUES (1, 4)
GO
ALTER TABLE [dbo].[Book_Category]  WITH CHECK ADD FOREIGN KEY([book_id])
REFERENCES [dbo].[Book] ([id])
GO
ALTER TABLE [dbo].[Book_Category]  WITH CHECK ADD FOREIGN KEY([Category_id])
REFERENCES [dbo].[Category] ([id])
GO
