USE [ComicMaxPrd]
GO
/****** Object:  Table [dbo].[Category]    Script Date: 6/9/2023 1:19:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Category](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](max) NULL,
	[img] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Category] ON 

INSERT [dbo].[Category] ([id], [name], [img]) VALUES (1, N'Action', N'https://cdn.marvel.com/u/prod/marvel/i/mg/c/10/633cefa06d1f4/clean.jpg')
INSERT [dbo].[Category] ([id], [name], [img]) VALUES (2, N'Manga', N'https://product.hstatic.net/200000343865/product/10_0663180925144e9bbfafe49baecd53b7_master.jpg')
INSERT [dbo].[Category] ([id], [name], [img]) VALUES (3, N'Fantasy', N'https://upload.wikimedia.org/wikipedia/commons/c/c7/Forbidden_Worlds_1.jpg')
SET IDENTITY_INSERT [dbo].[Category] OFF
GO
ALTER TABLE [dbo].[Category] ADD  DEFAULT (NULL) FOR [img]
GO
