USE [ComicMax]
GO
/****** Object:  Table [dbo].[Author]    Script Date: 5/3/2023 12:43:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Author](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Author] ON 

INSERT [dbo].[Author] ([id], [name]) VALUES (1, N'Kentaro Miura')
INSERT [dbo].[Author] ([id], [name]) VALUES (2, N'Hiro Fujiwara')
INSERT [dbo].[Author] ([id], [name]) VALUES (3, N'Haruichi Furudate')
SET IDENTITY_INSERT [dbo].[Author] OFF
GO
